<div class="container" style=" margin-top: 2em;">
    <div class="card border-primary">
        <div class="card-header">
        <div class="card-body text-primary">
            <form [formGroup]= "dropDownForm">
                <div class="formgroup">
                    <label>Country</label>
                    <select formControlName="country"class="form-control"  (change)="GetStateById($event)">
                        <option value="">Select Country</option>
                        <option *ngFor="let country of countryList" [ngValue]= "country.CountryID">{{country.countryName}}</option>
                    </select>
                </div>
                <br>                
                <div class="formgroup">
                    <label>State</label>
                    <select formControlName="state" (change)="GetCityById($event)" class="form-control">
                        <option value="">Select State</option>
                        <option  *ngFor="let st of stateList" [ngValue]= "st.CountryID">{{st.stateName}}</option>
                    </select>
                </div>                
                <br>
                <div class="formgroup">
                    <label>City</label>
                    <select formControlName="city" class="form-control">
                        <option value="">Select City</option>
                        <option  *ngFor="let city of cityList" [ngValue]= "city.StateID">{{city.cityName}}</option>
                    </select>
                </div>
            </form>
        </div>
        </div>
    </div>        
     <button class="btn success" type="submit"  style="width: 16em; margin-top: 2em; margin-left: 5.5em; margin-right: 4em; background-color:rgb(181, 241, 186);" onclick="alert('Record added Successfully')">Submit</button>      
</div>
