

<div class="sidenav-content">
  <button class="menubar" mat-raised-button color="primary" (click)="drawer.toggle()">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </button>
</div>
<mat-drawer-container class="container" autosize>

  <mat-drawer #drawer class="sidenav" opened mode="side">
    <div>
      
      <a href="/home">
      <li class="list-unstyled"><i class="fa fa-home " style="font-size:25px; "></i> Home</li>
    </a>
        <a href="/mngadmin">
                <li class="list-unstyled"><i class="fa fa-user" style="font-size:25px; "></i> Manage Admins</li>
              </a>
              <a href="/mngsupplier">
                <li class="list-unstyled"><i class="fa fa-users" style="font-size:25px; "></i> Manage Suppliers</li>
              </a>
              <a href="/poadmin">
                <li class="list-unstyled"><i class="fa fa-shopping-cart" style="font-size:25px; "></i> Purchase Order</li>
              </a>
              <a href="/mngdeladmin">
                <li class="list-unstyled"><i class="fa fa-truck" style="font-size:25px; "></i> Manage Delivery Schedule
                </li>
              </a>
              <a href="/mnginvoiceadmin">
                <li class="list-unstyled"><i class="fa fa-file" style="font-size:25px; "></i> Manage Invoice Details
                </li>
              </a>
              <a href="/mngcircularadmin">
                <li class="list-unstyled"> <i class="fa fa-bars" style="font-size:25px; "></i> Manage Circulars</li>
              </a>
              <!-- <a href="/trackdeladmin">
                                  <li class="list-unstyled"><i class="fa fa-map-marker"></i> Track Delivery Status</li>
                          </a><br/><br/> -->
              <a href="/reports">
                <li class="list-unstyled"><i class="fa fa-file-text" style="font-size:25px; "></i> Reports </li>
              </a>
    </div>  </mat-drawer>

  

</mat-drawer-container>
<!-- <h5>Admin Menu</h5> -->

<!-- 
<nav class="sidebar">
    <div>
      
      <a href="/home">
      <li class="list-unstyled">Home<i class="fa fa-home " style="font-size:25px; color:brown;"></i></li>
    </a>
        <a href="/mngadmin">
                <li class="list-unstyled"> Manage Admins<i class="fa fa-user" style="font-size:25px; color:brown;"></i></li>
              </a>
              <a href="/mngsupplier">
                <li class="list-unstyled"> Manage Suppliers<i class="fa fa-users" style="font-size:25px; color:brown;"></i></li>
              </a>
              <a href="/poadmin">
                <li class="list-unstyled">Purchase Order<i class="fa fa-shopping-cart" style="font-size:25px; color:brown;"></i>
                </li>
              </a>
              <a href="/mngdeladmin">
                <li class="list-unstyled">Manage Delivery Schedule<i class="fa fa-truck" style="font-size:25px; color:brown;"></i>
                </li>
              </a>
              <a href="/mnginvoiceadmin">
                <li class="list-unstyled">Manage Invoice Details<i class="fa fa-file" style="font-size:25px; color:brown;"></i>
                </li>
              </a>
              <a href="/mngcircularadmin">
                <li class="list-unstyled">Manage Circulars<i class="fa fa-bars" style="font-size:25px; color:brown;"></i></li>
              </a>
               <a href="/trackdeladmin">
                                  <li class="list-unstyled"><i class="fa fa-map-marker"></i> Track Delivery Status</li>
                          </a><br/><br/> -->
              <!-- <a href="/reports">
                <li class="list-unstyled">Reports <i class="fa fa-file-text" style="font-size:25px; color:brown;"></i></li>
              </a>
    </div>
    
</nav> --> 